@use "../base/variables" as *;

.characters-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--color-background-light);
    padding: 16px;
    border-radius: 100px;
    margin: 0 auto 40px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 100%;
      padding: 0;
      margin-bottom: 50px;
    }
  
    @media screen and (min-width: $bp-desktop) {
      max-width: 1240px;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  
      &--active .characters-filters__btn {
        background-color: var(--color-secondary);
        color: var(--color-primary-dark);
      }
    }
  
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Bluu Next Cyrillic', sans-serif;
      font-weight: 700;
      font-size: 16px;
      background-color: transparent;
      color: var(--color-accent-light);
      text-transform: uppercase;
      gap: 10px;
      padding: 10px 20px;
      border-radius: 100px;
      border: none;
      transition: all 0.3s ease;
  
      @media screen and (min-width: $bp-tablet) {
        font-size: 18px;
        padding: 10px 40px;
      }
  
      @media screen and (min-width: $bp-desktop) {
        padding: 10px 76px;
      }

      &:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary-dark);
      }
    }

    &__image {
      width: 30px;
      height: 34px;

      @media screen and (min-width: $bp-tablet) {
        width: 35px;
        height: 38px;
      }
    }
  }