@use 'variables' as *;

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

#load-more-btn {
    display: none;
  
    @media (max-width: $bp-desktop) {
      display: block;
    }
}