:root {
    --color-primary-dark: #1D1D1D;
    --color-primary-light: #FABF59;
    --color-accent-light: #FFFFFF;
    --color-background-light: #D9D9D9;
    --color-secondary: #F9B50C; 
}

$bp-mobile: 480px !default;
$bp-tablet: 768px !default;
$bp-desktop: 1280px !default;